.prescription {
  display: block;
  height: 100%;
}

.prescription-header {
  width: 100%;
  height: 90px;
}

.prescription-container {
  width: 100%;
}

.prescription-footer {
  width: 100%;
  height: 40px;
}

.empty {
  height: calc(100vh - (90px + 40px));
}

mat-drawer {
  width: 400px;
}

.card-notify > .mat-fab {
  position: absolute;
  z-index: 100;
  top: 15px;
  right: 15px;
}
