.mat-style-card {
  padding: 0;
}

.form-field-row .mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.form-group-footer .mat-error+.mat-error {
  margin-left: 8px;
}

button.mat-stroked-button {
  height: 32px;
  width: 45px;
}

.form-group-header {
  margin-top: 5px;
  border-top: solid black 1px;
  /* padding: 10px 0; */
}

.form-group-footer {
  margin-top: 5px;
}

.form-group-title {
  padding: 15px 0 0 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.125;
}

.form-group-body-header {
  margin-top: 5px;
  padding: 10px 0;
}

.form-group-body-title {
  padding: 15px 0 0 15px;
  font-weight: 400;
  line-height: 1.125;
  text-decoration: underline;
}

.form-field-row .mat-radio-button+.mat-radio-button {
  margin-left: 8px;
}

.form-field-row .mat-checkbox+.mat-checkbox {
  margin-left: 8px;
}

/deep/ .form-field-row .dose-and-rate-value .mat-form-field-infix {
  width: 140px;
}

/deep/ .form-field-row .dose-and-rate-unit .mat-form-field-infix {
  width: 50px;
}

.dosage-instruction-form-title {
  margin: 0 0 0 2.2em;
}

.dosage-instruction-form-field {
  margin: 0 9em;
}

.margin-field {
  margin: 0 4em;
}

.margin-start-inline-fields {
  margin: 0 4em 0 10em;
}

.flex-container {
  display: flex;
}

.space-around-container {
  justify-content: space-around;
}

.padding-card {
  padding: 1em 3em 3em 3em;
}

.margin-bottom-card {
  margin-bottom: 2em;
}

.margin-top-card {
  margin-top: 2em;
}

.inline-title {
  display: inline;
}

.margin-right-card {
  margin-right: 39em;
}

.margin-left-card {
  margin-left: 5em;
}

.margin-title-field {
  margin: 0 0 2em -3em;
}

.margin-title-moment-field {
  margin: 0 0 1em -3em;
}

.height-card {
  height: 40%;
}

.medium-width-field {
  width: 30%;
}

.small-width-field {
  width: 6em;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}