.form-field-row .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.form-group-footer .mat-error + .mat-error {
  margin-left: 8px;
}

button.mat-stroked-button {
  height: 51px;
}

.form-group-header {
  margin-top: 5px;
  border-top: solid black 1px;
  padding: 10px 0;
}

.form-group-footer {
  margin-top: 5px;
}

.form-group-title {
  padding: 15px 0 0 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.125;
}

.form-group-body-header {
  margin-top: 5px;
  padding: 10px 0;
}

.form-group-body-title {
  padding: 15px 0 0 15px;
  font-weight: 400;
  line-height: 1.125;
  text-decoration: underline;
}

.form-field-row .mat-radio-button + .mat-radio-button {
  margin-left: 8px;
}

.form-field-row .mat-checkbox + .mat-checkbox {
  margin-left: 8px;
}

/deep/ .form-field-row .dose-and-rate-value .mat-form-field-infix {
  width: 140px;
}

/deep/ .form-field-row .dose-and-rate-unit .mat-form-field-infix {
  width: 50px;
}

.dosage-instruction-form-title {
  margin: 0 0 2em 2.2em;
}

.dosage-instruction-form-field {
  margin: 1em 9em;
}

.dosage-validity-limits-fields,
.dose-rate-field {
  margin: 0 4em;
}

.duration-field,
.quantity-field {
  margin: 0 4em 0 10em;
}

.dose-rate-field-container,
.day-time-moment-container {
  display: flex;
}

.day-time-moment-container {
  justify-content: space-around;
}

.days-card{
  padding: 1em 3em 3em 3em;
}

.unit-field,
.dose-field {
  width: 40%;
}

