<div class="form-group-row form-field-dosage-instruction" *ngIf="dosageInstruction$ | async">
  <div fxLayout="row" class="form-group-header">
    <div class="form-group-title"> Posologie(s) </div>
  </div>
  <div class="form-group-body" *ngFor="let dosageInstructionGroup of dosageInstruction.controls; index as nDosage">
    <div fxLayout="row" class="form-group-body-header">
      <button mat-stroked-button color="primary"
              matTooltip="Supprimer l'instruction de posologie"
              matTooltipPosition="right"
              aria-label="Supprimer l'instruction de posologie"
              (click)="onRemoveDosageInstruction(nDosage)"> - </button>
      <div class="form-group-body-title"> Posologie {{nDosage + 1}} </div>
    </div>
    <div fxLayout="row" class="form-field-row form-field-dosage-instruction-route">
      <mat-form-field fxFlex="100%" appearance="fill">
        <mat-label>
          Voie
        </mat-label>
        <input type="text"
               aria-label="Voie"
               matInput
               [formControl]="toFormControl(dosageInstructionGroup.get('route'))"
               [matAutocomplete]="autoRoute"/>
      </mat-form-field>

      <mat-autocomplete #autoRoute="matAutocomplete" [displayWith]="displayFnCodeableConcept.bind(this)">
        <mat-option *ngIf="isLoading$ | async" class="is-loading"> Chargement... </mat-option>
        <ng-container *ngIf="!(isLoading$ | async)">
          <mat-option *ngFor="let routeCode of routeArray; trackBy: trackByCodeableConcept" [value]="routeCode">
            {{routeCode | codeableConcept}}
          </mat-option>
        </ng-container>
      </mat-autocomplete>

    </div>
    <div fxLayout="row" class="form-group-row">
      <div fxFlex="50%" class="form-field-dosage-instruction-timing-repeat-time-of-day">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="form-group-title"> Heure(s) de prise </mat-card-title>
          </mat-card-header>
          <mat-card-content
            *ngFor="let timeOfDay of toFormArray(dosageInstructionGroup.get(['timing', 'repeat', 'timeOfDay'])).controls;
            index as i; trackBy: trackByIndex">
            <div fxLayout="row" [class]="'form-field-row form-field-timing-repeat-time-of-day-' + i">
              <button mat-stroked-button color="primary"
                      matTooltip="Supprimer l'heure de prise"
                      matTooltipPosition="right"
                      aria-label="Supprimer l'heure de prise"
                      (click)="onRemoveTimeOfDay(nDosage, i)"> - </button>
              <mat-form-field fxFlex="100%" appearance="fill">
                <mat-label> Heure {{i + 1}}</mat-label>
                <input type="text"
                       aria-label="heure"
                       matInput
                       [formControl]="toFormControl(timeOfDay)"/>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <button mat-stroked-button color="primary"
                    matTooltip="Ajouter une nouvelle heure de prise"
                    matTooltipPosition="right"
                    aria-label="Ajouter une nouvelle heure de prise"
                    (click)="onAddTimeOfDay(nDosage)"> + </button>
          </mat-card-footer>
        </mat-card>
      </div>
      <mat-divider [vertical]="true" [inset]="true"></mat-divider>
      <div fxFlex="50%" class="form-field-dosage-instruction-dose-and-rate">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="form-group-title"> Dose(s) </mat-card-title>
          </mat-card-header>
          <mat-card-content
            *ngFor="let dosageAndRate of toFormArray(dosageInstructionGroup.get('doseAndRate')).controls;
            index as i">
            <div fxLayout="row" [class]="'form-field-row form-field-dose-and-rate-' + i">
              <button mat-stroked-button color="primary"
                      matTooltip="Supprimer l'instruction de dose"
                      matTooltipPosition="right"
                      aria-label="Supprimer l'instruction de dose"
                      (click)="onRemoveDoseAndRate(nDosage, i)"> - </button>
              <mat-form-field fxFlex="50%" appearance="fill">
                <mat-label> Quantité </mat-label>
                <input type="text"
                       aria-label="quantité"
                       matInput
                       [formControl]="toFormControl(dosageAndRate.get(['doseQuantity', 'value']))"/>
              </mat-form-field>
              <mat-form-field fxFlex="50%" appearance="fill">
                <mat-label> Unité </mat-label>
                <input type="text"
                       aria-label="unité"
                       matInput
                       [formControl]="toFormControl(dosageAndRate.get(['doseQuantity', 'unit']))"
                       [matAutocomplete]="autoUnit"/>
              </mat-form-field>
              <mat-autocomplete #autoUnit="matAutocomplete" [displayWith]="displayFnCoding.bind(this)">
                <mat-option *ngIf="isLoading$ | async" class="is-loading"> Chargement... </mat-option>
                <ng-container *ngIf="!(isLoading$ | async)">
                  <mat-option *ngFor="let unitCode of doseAndRateUnitArray; index as i trackBy: trackByCoding"
                              [value]="unitCode">
                    {{unitCode | coding}}
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
            </div>
          </mat-card-content>
          <mat-card-footer>
            <button mat-stroked-button color="primary"
                    matTooltip="Ajouter une nouvelle instruction de dose"
                    matTooltipPosition="right"
                    aria-label="Ajouter une nouvelle instruction de dose"
                    (click)="onAddDoseAndRate(nDosage)"> + </button>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>
    <div fxLayout="row" class="form-field-row form-field-dosage-instruction-timing-repeat-duration">
      <mat-form-field fxFlex="75%" appearance="fill">
        <mat-label> Durée d'adminstration </mat-label>
        <input type="text"
               aria-label="durée d'adminstration"
               matInput
               [formControl]="toFormControl(dosageInstructionGroup.get(['timing', 'repeat', 'duration']))"/>
      </mat-form-field>
      <mat-form-field fxFlex="25%" appearance="fill">
        <mat-label> Unité de durée </mat-label>
        <input type="text"
               aria-label="unité de durée"
               matInput
               [formControl]="toFormControl(dosageInstructionGroup.get(['timing', 'repeat', 'durationUnit']))"
               [matAutocomplete]="autoDurationUnit"/>
      </mat-form-field>

      <mat-autocomplete #autoDurationUnit="matAutocomplete">
        <mat-option *ngFor="let unit of durationUnitArray" [value]="unit">
          {{unit}}
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
  <div class="form-group-footer">
    <button mat-stroked-button color="primary"
            matTooltip="Ajouter une nouvelle instruction de posologie"
            matTooltipPosition="right"
            aria-label="Ajouter une nouvelle instruction de posologie"
            (click)="onAddDosageInstruction()"> + </button>
  </div>
</div>
