.form-field-metadata {
  height: 80%;
}

button.mat-stroked-button {
  height: 32px;
  width: 45px;
  line-height: 3px;
}

.form-group-header {
  margin-top: 5px;
  border-top: solid black 1px;
  padding: 10px 0;
}

.form-group-title {
  margin: 0 0 0 0.5em;
  font-weight: 400;
  line-height: 1.125;
}

.form-group-body-header {
  margin-top: 5px;
  padding: 10px 0;
}

.form-group-body-title {
  padding: 15px 0 0 15px;
  font-weight: 400;
  line-height: 1.125;
}

.inline-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 500px;
}

.small-field {
  width: 30%;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}