<div fxLayout="row" class="form-field-row">
  <mat-form-field fxFlex="100%" appearance="fill">
    <mat-label> Filtre </mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. PARACETAMOL" #inputFilter>
  </mat-form-field>
</div>
<div fxLayout="row">
  <mat-table matSort fxFlex="100%" [dataSource]="medicationRequestDataSource">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell fxFlex="15%" *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
        <button mat-button [matMenuTriggerFor]="actionMenu">Actions</button>
      </mat-header-cell>
      <mat-cell fxFlex="15%" *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell mat-sort-header fxFlex="15%" *matHeaderCellDef> No. </mat-header-cell>
      <mat-cell fxFlex="15%" *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell mat-sort-header *matHeaderCellDef> Libellé </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{labelProviderFactory.getProvider(
        element.resource).getText(element.resource)}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             class="medication-request-row">
    </mat-row>

    <!-- Row shown when there is no matching data. -->
    <!--
    <tr mat-row *matNoDataRow>
      <td mat-cell [attr.colspan]="displayedColumns.length">No data matching the filter "{{inputFilter.value}}"</td>
    </tr>
    -->
  </mat-table>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
<button mat-raised-button color="primary" (click)="onSave()"> Enregister </button>

<mat-menu #actionMenu="matMenu">
  <button mat-menu-item (click)="onDeleteMedicationRequest()"> Supprimer </button>
</mat-menu>
