<form [formGroup]="medicationRequestGroup">
  <div fxLayout="row" class="form-field-row form-field-medication-knowledge">
    <div fxFlex="100%">
      <button mat-stroked-button color="primary"
              matTooltip="Ajouter le produit selectionné"
              matTooltipPosition="below"
              aria-label="Ajouter le produit selectionné"
              (click)="onAddMedication()"
              [disabled]="!isMedicationAddable"> + </button>
      <mat-form-field fxFlex="100%" appearance="fill">
        <mat-icon svgIcon="medicines" aria-hidden="false" aria-label="chercher un produit" matPrefix
                  matTooltip="Chercher un produit"></mat-icon>
        <mat-label> Dénomination commune </mat-label>
        <input type="text" placeholder="Ex. PARACETAMOL"
               aria-label="Dénomination commune"
               matInput
               [formControl]="toControl(medicationRequestGroup.get('medicationKnowledge'))"
               [matAutocomplete]="autoMedicationKnowledge"/>
      </mat-form-field>
    </div>
  </div>
  <app-medication-form></app-medication-form>
  <app-dosage-instruction-form></app-dosage-instruction-form>
  <app-dispense-request-form></app-dispense-request-form>
  <div class="form-field-row form-control">
    <button mat-raised-button color="primary" (click)="onAddMedicationRequest()"
            *ngIf="medicationRequest != null" [disabled]="!(isMedicationRequestAddable$ | async)"> Ajouter </button>
    <mat-divider></mat-divider>
    <button mat-raised-button color="secondary" (click)="onCDSHelp()"
            *ngIf="medicationRequest != null"> Aide (CDS) </button>
  </div>
  <mat-autocomplete #autoMedicationKnowledge="matAutocomplete"
                    [displayWith]="displayFn.bind(this)">
    <mat-option *ngIf="isLoading$ | async" class="is-loading"> Recherche... </mat-option>
    <ng-container *ngIf="!(isLoading$ | async)">
      <mat-option *ngFor="let medicationKnowledge of medicationKnowledgeArray;
          index as i trackBy: trackByMedicationKnowledge" [value]="medicationKnowledge">
        {{medicationKnowledge | medicationKnowledge}}
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</form>
