<div class="card-content" *ngIf="cards$ | async">
  <mat-card class="mat-elevation-z4" [ngClass]="{'mat-card-info': card.getCard().indicator==='info', 'mat-card-warn': card.getCard().indicator==='warn', 'mat-card-critical': card.getCard().indicator==='critical'}"
  *ngFor="let card of cards">{{indicatorStatus}}
    <mat-card-header>
      <mat-card-avatar>
        <mat-icon aria-hidden="false" aria-label="Information" *ngIf="card.getCard().indicator == 'info'">info</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Information" *ngIf="card.getCard().indicator == 'warn'">warning</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Information" *ngIf="card.getCard().indicator == 'critical'">error</mat-icon>
        <mat-icon aria-hidden="false" aria-label="Information" *ngIf="card.getCard().indicator == 'hard-stop'">dangerous</mat-icon>
      </mat-card-avatar>
      <mat-card-title><div [innerHTML]=card.getCard().summary></div></mat-card-title>
        <mat-card-subtitle>par {{card.getCard().source.label}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div [innerHTML]=card.getCard().detail></div>
    </mat-card-content>
    <mat-card-footer>
      <a mat-icon-button href="{{card.getCard().source.url}}" target="_blank" aria-label="{{card.getCard().source.label}}">
        <mat-icon>open_in_new</mat-icon>
      </a>
    </mat-card-footer>
  </mat-card>
</div>