.cql-editor {
    display: block;
    height: 100%;
}

.cql-editor-header {
    width: 100%;
    height: 90px;
}

.cql-editor-container {
    width: 100%;
    height: calc(100% - (90px + 40px));
}

.cql-editor-footer {
    width: 100%;
    height: 40px;
}
